{% extends "admin_base1.html" %}
{% block content %}
<script>

</script>
<div class="column is-4 is-offset-4">
    <h3 class="title">Administrator Login</h3>
    <div class="box" id="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
        {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form >
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" id="clientid" name="ClientID" placeholder="ClientID" autofocus="">

                </div>

            </div>
            

        </form>
        <button class="button is-block is-info is-large is-fullwidth" id="get_token">Get Token</button>
    
    </div>
</div>
<script>

$(document).ready(()=>{
        
    
        $("#get_token").click(function test(){
        var callbackip = '{{ callback_ip }}';
        var callback_proto = '{{ callback_proto }}';
        var callback_port = '{{ callback_port }}';
        let opts = {
            redirect_uri: callback_proto+"://"+callbackip+":"+callback_port+"/home",
            response_type: 'token',
        };
        let client = new jso.JSO({
            providerID: "petstore",
            client_id: "test",
            redirect_uri: opts, // The URL where you is redirected back, and where you perform run the callback() function.
            authorization: "https://petstore.swagger.io/oauth/authorize",
            scopes: { request:  ["read:pets", "write:pets"]},
            debug: true
        });
    
        client.callback();
        
        let test = client.getToken(opts);
        console.log(test);
    
        client.getToken(opts).then((token) =>{
            console.log("The token is: ", token);
           });
        });});
</script>
{% endblock%}