{% extends "base.html" %}
{% block content %}

<p>
    Petstore was created with the ambition to be an ecosystem for pets and pet parenting. While we are still in our fledgling days, we aim to source the best of the products from manufacturers and brands, small or big, and bring them to the loving pet parents across the country.

    As pet parents, we realize that information on the lifestyle, nutritional and behavioral needs of pets is all across the internet but probably paucity of time is an impediment for pet parents to know what really works best for their pets. So we simply decided: If it’s not good, it’s not on Petstore.
    
    Also, we realized that there are quite a few pet loving entrepreneurs, yet reaching out to pet parents is expensive and sometimes good ideas and products get lost in the crowd. We would certainly want these homegrown brands to perform well and surely would want to partner with them as long as we share a vision of good quality products.
    
    So we are slowly and steadily building the Petstore platform on 3 pillars: Fulfillment, Information and Connection with the intent to provide high quality products at affordable prices creating value for you, curated content as per your pet’s breed and age, and ultimately connecting you to the best service providers such as Canine behaviourists, Groomers and Walkers in your vicinity to facilitate a better lifestyle for your pet.
    
    It has been a short and fulfilling journey and we hope to create this entire ecosystem in its entirety using technology and AI in all the time to come. Meanwhile, we shall keep sharing our journey with you.
</p>
{% endblock %}
