{% extends "base.html" %}

{% block content %}
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">“Pets are like infants that never grow up. Forever children. We love them for that.”</p>
          <p class="subtitle">Anonymous</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">“Time spent with cats is never wasted.”</p>
          <p class="subtitle">Sigmund Freud</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-info">
          <p class="title">White Throated Sparrow</p>
          <p class="subtitle">Singing on a branch</p>
          <figure class="image is-4by3">
            <img src="https://www.nationalgeographic.com/content/dam/animals/2020/07/sparrow-calls/01-sparrow-calls-minden_00528867.adapt.1900.1.jpg">
          </figure>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">No matter how little money and how few possessions you own, having a dog makes you feel rich.</p>
        <p class="subtitle">Louis Sabin, American Author</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">Welcome to the Petstore</p>
        <p class="subtitle">With even more content</p>
        <div class="content">
          <!-- Content -->
          <img src="https://cdn.pixabay.com/photo/2016/03/09/15/27/cat-1246659_1280.jpg">
        </div>
      </div>
    </article>
  </div>
</div>  
{% endblock %}