{% extends "pets_base.html" %}
{% block content %}
<h2> Congratulations !! Order placed </h2>

<div class= "container" id="transation">
    <table class="table is-bordered is-hoverable has-background-light" id="transactionstable">
        <thead class="has-text-centered">
            <tr class="has-text-centered">
              
              <th><abbr title="Value">Order Details</abbr></th>
            </tr>
          </thead>
          <tbody>
            <tr>
                
            </tr>
            </tbody>
            </table>
      </div>
      <script>    var transaction = '{{ payload|tojson }}';
        
        console.log(typeof(transaction));
        console.log(transaction);
        //var payload = JSON.parse(transaction);
        //console.log(payload["transactionDetailsId"]);
        
          //var transaction_id = transaction["transactionDetailsId"];
          //var shipdate = transaction["shipDate"]
          //var username = transaction["username"]
          var transaction_details = '<tr>\
            <td class="has-text-centered">'+transaction+'</td>\
            </tr>';
          
          $("#transactionstable").append(transaction_details);
          </script>

<p><br><a href="/allpets" class="button is-link">
    Click Here to Access the Store
  </a>

{% endblock %}