{% extends "pets_base.html" %}

{% block content %}

    <h1 class="title">
        Welcome to The Petstore
    </h1>
    

    
    <p>    PetStore is your one-stop online pet supply store, where you can find high-quality pet supplies, which helps your pet at every life-stage. PetSutra will help you choose the most appropriate dog food, supplements, treats, toys, dog accessories. Not only that but also for cats, guinea pigs, rabbits, hamsters, turtles, birds & aquatic animals.

        The reason why we are considered a reliable pet shop online is because we adore pet-owners and even more their lovely pets!
        
        We know what a pet means to us humans, hence we help fellow pet-lovers choose the best dog food, cat food, treats, accessories, shampoo and other pet grooming products, supplements, toys and other pet products in the easiest way possible.
        
        Our mission is to provide you the best, not only when it comes to dog and cat products but other small sized pets like Rabbits, Guinea Pigs, Hamsters, Birds and your home aquarium friends, products that are procured from every nook and corner of the world.

    </p>
    <a href="/allpets" class="button is-link">
        Click Here to Access the Store
      </a>
{% endblock %}