{% extends "admin_base.html" %}

{% block content %}
    
    <strong class="content is-large">Petstore Inventory</strong>
    

    <table class="table is-bordered is-hoverable is-fullwidth has-background-light" id=petstable >
        <thead class="has-text-centered">
        <tr class="has-text-centered">
            <th class="Name has-text-centered" >Name</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>
</div>

    <script>
        var data = '{{ display_json|tojson }}';
        console.log("printing data received from the backend");
        console.log(data);
        console.log(typeof(data));

        var payload = $.parseJSON('['+data+']');
        console.log("printing data after processing");
        
        var value = payload[0];
        console.log(typeof(value));
        console.log(value);
        var pet_id_array=[];
        for(i=0; i<Object.keys(value).length;i++){
            
            each_pet = Object.keys(value)[i];

            console.log("printing the details of the pet")
            console.log(each_pet);
            each_pet_attr_list = value[each_pet];
            each_pet_attr = each_pet_attr_list[0];
            console.log(each_pet_attr);
            
            pet_name = each_pet_attr["name"];
            pet_tag1 = each_pet_attr["tag1"];
            pet_tag2 = each_pet_attr["tag2"];
            pet_photo1 = each_pet_attr["photo1"];
            pet_photo2 = each_pet_attr["photo2"];
            pet_status = each_pet_attr["status"];
            var petname_row = '<tr><td class="has-text-centered" style="height:300px">'+pet_name+'</td><br><span class="tag is-link">'+pet_tag1+'</span><br><span class="tag is-link">'+pet_tag2+'</span></tr>';
            $("#petstable th.Name").append(petname_row);
            $("petstable th.Name").append(pet_tag1)
            $("petstable th.Name").append(pet_tag2)
            var photo1_row = '<tr><td class="has-text-centered" style="height:300px"><img src='+pet_photo1+'width="200" height="200"></td></tr>';
            $("#petstable th.Name").append(photo1_row);
            var photo2_row = '<tr><td class="has-text-centered" style="height:300px"><img src='+pet_photo2+'width="200" height="200"></td></tr>';
            $("#petstable th.Name").append(photo2_row);
            var status = '<tr><td class="has-text-centered" style="height:300px">'+pet_status+'</td></tr>';
            $("#petstable th.Name").append(status);
            edit_url = "{{ url_for('admin.pets_edit', petid=each_pet) }}"
            var edit_option = '<tr><td class="has-text-centered" style="height:300px"><a class="button is-normal"'+"href={{ url_for('admin.pets_edit') }}"+'?petid='+each_pet+'>Edit</a></td></tr>';
            $("#petstable th.Name").append(edit_option);
            delete_url = "{{ url_for('admin.pets_delete', petid=each_pet) }}"
            var delete_option = '<tr><td class="has-text-centered" style="height:300px"><a class="button is-warning"'+"href={{ url_for('admin.pets_delete') }}"+'?petid='+each_pet+'>Delete</a></td></tr>';
            $("#petstable th.Name").append(delete_option);
        }
    </script>
{% endblock %}