{% extends "admin_base.html" %}

{% block content %}
    
    <strong class="content is-large">Inventory</strong>
    

    <table class="table is-hoverable is-fullwidth has-background-white" id=petstable >
        <thead class="has-text-centered">
        <tr class="has-text-centered">
        <th class="Name has-text-centered" ></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>
    </div>

    <script>
        var data = '{{ display_json|tojson }}';
        console.log("printing data received from the backend");
        console.log(data);
        console.log(typeof(data));

        var payload = $.parseJSON('['+data+']');
        console.log("printing data after processing");
        
        var value = payload[0];
        console.log(typeof(value));
        console.log(value);
        var pet_id_array=[];
        for(i=0; i<Object.keys(value).length;i++){
            
            each_pet = Object.keys(value)[i];

            console.log("printing the details of the pet")
            console.log(each_pet);
            each_pet_attr_list = value[each_pet];
            each_pet_attr = each_pet_attr_list[0];
            console.log(each_pet_attr);
            
            pet_name = each_pet_attr["name"];
            pet_tag1 = each_pet_attr["tag1"];
            pet_tag2 = each_pet_attr["tag2"];
            pet_photo1 = each_pet_attr["photo1"];
            pet_photo2 = each_pet_attr["photo2"];
            pet_status = each_pet_attr["status"];
            edit_url = "{{ url_for('admin.pets_edit') }}"
            delete_url = "{{ url_for('admin.pets_delete') }}"
            var petname_row = '<tr><td class="has-text-centered" style="width:1200px" style="height:300px" style="margin:50px 30px>'+pet_name+'<br><img src='+pet_photo1+' width="200" height="200" style="horizontal-align:middle;margin:50px 30px">'+'<img src='+pet_photo2+' width="200" height="200" style="horizontal-align:middle;margin:50px 30px">'+'<br><strong>Status:    </strong>'+pet_status+'<br><strong>Tags:    </strong><span class="tag is-link">'+pet_tag1+'</span><br><span class="tag is-link" style="margin:50px 30px>'+pet_tag2+'</span>'+'<br><span><a class="button is-normal" '+'"href='+edit_url+'"?petid='+each_pet+'>Edit</a></span>'+'<br><span><a class="button is-warning" '+'"href='+delete_url+'"?petid='+each_pet+'>Delete</a></span></td></tr>';
            $("#petstable th.Name").append(petname_row);
        }
    </script>
{% endblock %}