{% extends "pets_base.html" %}

{% block content%}

<div class= "container" id="user">
    <table class="table is-bordered has-background-dark" id="profiletable">
      <thead class="has-text-centered"> <b>User Profile
        <tr class="has-text-centered">
          <th><abbr title="FirstName" class="has-text-white">First Name</abbr></th>
          <th><abbr title="LastName" class="has-text-white">Last Name</abbr></th>
          <th><abbr title="UserName" class="has-text-white">Username</abbr></th>
        </tr>
      </thead>
      <tbody>
        <tr>
  
        </tr>
        </tbody>
        </table>
  </div>
  <script>    var user = '{{ profile|tojson }}';
    var payload = $.parseJSON(user);
    console.log(payload);
    
      var firstname = payload["firstName"];
      var lastname = payload["lastName"]
      var username = payload["username"]
      var user_row = '<tr><td class="has-text-centered has-text-white"><b>'+firstname+'</td>\
        <td class="has-text-centered has-text-white"><b>'+lastname+'\
        <td class="has-text-centered has-text-white"><b>'+username+'</td>\
        </tr>';
      
      $("#profiletable").append(user_row);
      </script>
{% endblock%}