{% extends "pets_base.html" %}
{% block content %}

<div class= "container" id="pets">
  <table class="table has-background-white is-fullwidth" id="petstable">
    <thead class="has-text-centered">
      <tr class="has-text-centered">
  
      </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
      </tbody>
      </table>
</div>
<script>
  var pets = '{{ data|tojson }}';
  var payload = $.parseJSON(pets);
  console.log(payload);
  Object.keys(payload).forEach(key => {

    console.log(payload[key]);
    var name = payload[key]["name"];
    var photo1 = payload[key]["photo1"]
    var photo2 = payload[key]["photo2"]
    var petname_row = '<tr>\
      <td class="has-text-centered"> <img src='+photo1+' width="200" height="200" style="margin: 30px 30px"><img src='+photo2+' width="200" height="200" style="margin: 30px 30px"></td>\
        <td><p><button class="button" style="margin:50px 15px"><a href="/addtocart?pet_id='+key+'"> <b> 🛒 + </a></button>\
        <button class="button is-danger" style="margin:50px 15px"><a href="/removefromcart?pet_id='+key+'"><b>  🛒 -  </a></button></p></td>\
        <td><p><button class="button is-success" id="viewcart" style="margin:50px 40px"><a href="/viewcart">View Cart</a></button></p>\
        </td>\
      </tr>';
    $("#petstable").append(petname_row);
    });
  
</script>


{% endblock%}