{% extends "pets_base.html" %}
{% block content %}

<div class= "container" id="pets">
  <table class="table is-bordered is-hoverable has-background-light is-fullwidth" id="petstable">
    <thead class="has-text-centered">
      <tr class="has-text-centered">
        <th><abbr title="Name">Name</abbr></th>
        <th><abbr title="Photo">Photo</abbr></th>
      </tr>
    </thead>
    <tbody>
      <tr>

      </tr>
      </tbody>
      </table>
</div>
<script>
  var pets = '{{ data|tojson }}';
  var payload = $.parseJSON(pets);
  console.log(payload);
  Object.keys(payload).forEach(key => {

    console.log(payload[key]);
    var name = payload[key]["name"];
    var photo1 = payload[key]["photo1"]
    var petname_row = '<tr><td class="has-text-centered" style="height:300px">'+name+'</td>\
      <td class="has-text-centered"> <img src='+photo1+' width="200" height="200">\
        <p><button class="button"><a href="/addtocart?pet_id='+key+'">Add to Cart</a></button></p>\
        <p><button class="button"><a href="/removefromcart?pet_id='+key+'">Remove from Cart</a></button></p>\
        <p><button class="button" id="viewcart"><a href="/viewcart">View Cart</a></button></p>\
        </td>\
      </tr>';
    $("#petstable").append(petname_row);
    });
  
</script>


{% endblock%}